@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white fw-bold">Los Titanes</h1>
    <h3 class=" text-white fw-bold">"El gym de tus sueños"</h3>
</div>
