@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class="text-white">Todos los derechos de la pagina de Los titanes estan reservados a sus desarrolladores:</p>
<a href="https://www.linkedin.com/in/francisco-javier-perez-dell-arte/" class="  text-white">Francisco Perez Dell´ Arte</a>
<br />
<br />
<a href="https://www.linkedin.com/in/mauro-sebastian-bringas/" class="text-white">Mauro Sebastian Bringas</a>
<br />
<br />
<a href="https://www.linkedin.com/in/maria-agustina-gonzalez-gauna/" class="text-white">María Agustina González Gauna</a>